{
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^[./]",
    "^./(.*).module.scss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
